.CartItem{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.CartItem__details{
  display: flex;
  align-items: center;
}

.CartItem__details div,
.CartItem__details button{
  margin: 0 20px;
}

.CartItem__details button{
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.CartItem__amount{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CartItem__amount p{
  margin: 0 10px;
}

.CartItem__amount button{
  margin: 0;
}

.CartItem__details .CartItem__remove{
  background: #E05959;
  color: #fff;
  border: 2px solid #E05959;
  width: 40px;
  height: 40px;
}

.CartItem__remove:hover{
  color: #E05959;
  background: #fff;
}

@media only screen and (max-width: 768px){
  .CartItem{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 20px 0;
  }

  .CartItem__details{
    flex-direction: column;
    align-items: flex-start;
  }

  .CartItem__details div,
  .CartItem__details button{
    margin: 5px 0;
  }

  .CartItem__remove i{
    font-size: 1.5em;
  }
}