.product{
  box-shadow: 0 4px 4px #F2F4F7;
  font-family: 'Montserrat', sans-serif;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  width: 400px;
}

.product__descripton{
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__name{
  font-size: 1.2em;
  margin: 0 0 10px 0;
}

.product__price{
  color: #58CEA3;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  font-size: 1.5em;
  font-family: 'Baloo Chettan 2', cursive;
}

.product__price p{
  margin: 0;
}

.product__price span{
  font-size: 0.8rem;
  margin: 0 0 0.2em 5px;
}

.product__cta{
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  padding: 10px 20px;
  color: #fff;
  border-radius: 20px;
  font-weight: 600;
  border: 2px solid #58CEA3;
  background: #58CEA3;
  cursor: pointer;
  transition: 0.2s;
}

.product__cta:hover{
  background: #fff;
  color: #58CEA3;
}

.product__cta i{
  font-size: 1.1rem;
  margin-left: 5px;
}